{% extends "base/base.html" %}
{% block content %}
{% include "contents/login_form.html" %}
{% if current_user.is_authenticated == True %}
    {% include "contents/form.html" %}
{% endif %}
{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}
<table>
    <tr>
        <td>日付</td>
        <td>名前</td>
        <td>コメント</td>
        <td>画像</td>
    </tr>
    {% for item in item_list %}
        <tr>
            {% if item.del_flag == None %}
                <td>{{item.date}}</td>
                <td>{{item.author}}</td>
                <td>{{item.text}}</td>
                {% if item.pict == "" or item.pict == None %}
                    <td></td>
                {% else %}
                    <td><img src="{{ item.pict }}" alt="さむね"></td>
                {% endif %}
                <td>
                    {% if current_user.is_authenticated == True %}
                        {% include "contents/reply_box.html" %}
                    {% endif %}
                </td>
                <td>
                    {% if item.author == current_user.id %}
                    <form method="POST" action="/del_post">
                        <input type="hidden" name="id" value="{{item.id}}">
                        <input type="submit" value="delete">
                    </form>
                    {% endif %}
                </td>
            {% else %}
                <td>{{item.date}}</td>
                <td></td>
                <td>
                {{item.del_flag.name}}によって削除されました
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}