{% extends "base/base.html" %}
{% block content %}
{% include "contents/login_form.html" %}
{% if current_user.is_authenticated == True %}
    {% set form_info = "/post_form" %}
    {% include "contents/form.html" %}
{% endif %}
{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}
<table border="1">
    <tr>
        <td>日付</td>
        <td>名前</td>
        <td>コメント</td>
        <td>画像</td>
    </tr>
    {% for item in item_list %}
        <tr>
            {% if item.del_flag == None %}
                {% include "messages/date_message.html" %}
                {% include "messages/author_message.html" %}
                {% include "messages/message.html" %}
                {% include "messages/picture_message.html" %}
                {% include "messages/details_form.html" %}
                {% include "messages/del_form.html" %}
            {% else %}
                <td>{{item.date}}</td>
                <td></td>
                <td>
                {{item.del_flag.name}}によって削除されました
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}