
{% if current_user.is_authenticated  == True %}
<table>
    <td>{{ current_user.id }}</td>
    <td>
    <form method="POST" action="/logout_form">
        <td><input type="submit" value="ログアウト"></td>
    </form>
    </td>
</table>
{% else %}
<table>
    <tr>
    <form method="POST" action="/login_form">
        <td>ID<input type="text" name="account"></td>
        <td>PW<input type="password" name="password"></td>
        <td><input type="submit" value="ログイン"></td>
    </form>
    </tr>
    <tr><td>アカウント作成は以下から</td></tr>
    <tr>
    <form method="POST" action="/create_account">
        <td>ID<input type="text" name="account"></td>
        <td>PW<input type="password" name="password"></td>
        <td><input type="submit" value="アカウント作成"></td>
    </form>
    </tr>
</table>

{% endif %}
