
<div class="popupModal1">
    <input type="radio" name="modalPop" id="pop11" />
    <label for="pop11">リプライ</label>
    <input type="radio" name="modalPop" id="pop12" />
    <label for="pop12">CLOSE</label>
    <input type="radio" name="modalPop" id="pop13" />
    <label for="pop13">×</label>
    <div class="modalPopup2">
        <h2 class="modalTitle">リプライ画面</h2>
        <div class="modalMain">
            <form method="POST" action="/reply_form">
                リプライ:<input type="text" name="text">
                <input type="hidden" name="id" value="{{item.id}}">
                <input type="submit" value="send">
            </form>
        </div>
    </div>
</div>
